/* Helper Class */
.bg-red{
  background: red ;
}

.bg-yellow{
  background: yellow ;
}

.bg-blue{
  background:blue;
}

.bg-green{
  background: green;
}

.bg-brown{
  background: brown;
}

.bg-black{
  background: black;
}


.opacity-black i{
  transition: 1s;
}

.opacity-black i:hover{
  color: red;
  transform: scale(0.5);
}

.border-hover{
  width: 80%;
  height: 0.2rem;
  margin: 0 auto;
  visibility: hidden;
}

li:hover .border-hover{
  visibility: visible;
}
