*{
  margin: 0;
  padding: 0;
}

body{
  color: white;
}

.text-uppercase{
  text-transform: uppercase;
}

.container-flex{
  max-width: 200px;
  display: flex;
  justify-content: flex-start;


}

/* Regole Layout */
.wrapper{
  width: 100vw;
  height: 100vh;
  background: grey;
}

#section-one{
  width: 100%;
  height: calc( 100% - 100px);
}

#section-two{
  width: 100%;
  height: 100px;
  background: #282828;
}

#col-left{
  width: 200px;
  height: 100%;
  background: black;
  float: left;
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: relative;
}

#col-right{
  width: calc(100% - 200px);
  height: 100%;
  background-image: linear-gradient(to bottom right, #344651, #0A0D0F);
  float: left;
  overflow: auto;

}

/* Regole nav destra */

#col-left ul li {
  list-style: none;
}

#col-left ul li h4 {
  display: inline-block;
}

#col-left div:last-child {
  align-items: flex-end;

}

#col-left img {
  max-width: 100%;
}








/* Regole per la Section del Player */
#section-two{
  display: flex;
  justify-content: space-between;
}


#section-two .title-song{
  display: flex;
  justify-content: space-around;

}

#section-two .play-now img{
  max-width: 60px;
  height: 60px;
}
