*{
  margin: 0;
  padding: 0;
}

body{
  color: white;
}

.text-uppercase{
  text-transform: uppercase;
}

.capitalize{
  text-transform: capitalize;
}

.text-center{
  text-align: center;
}

body ul li {
  list-style: none;
}


/* Regole Layout */
.wrapper{
  width: 100vw;
  height: 100vh;
  background: grey;
}

.my-container{
  height: 100%;
  max-width: 95%;
  min-width: 90%;
  margin: 0 auto;
}

.title-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 0;
}

#section-one{
  width: 100%;
  height: calc( 100% - 100px);
}

#section-two{
  width: 100%;
  height: 100px;
  background: #282828;
}


/* Regole nav sinistra */
#col-left{
  width: 250px;
  height: auto;
  background: black;
  float: left;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#col-left ul li h4 {
  display: inline-block;
}

#col-left div:last-child {
  align-items: flex-end;

}

#col-left img {
  max-width: 100%;
}


/* Regole per il corpo principale di pagina */
#col-right{
  width: calc(100% - 250px);
  max-height: 100%;
  background-image: linear-gradient(to bottom right, #27592E, #0A0D0F);
  float: left;
  overflow: auto;
}

#col-right #nav-content ul{
  max-width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Regole per griglia immagini album e titolo */

#col-right .music-item {
  min-width: 150px;
  /* max-width: 200px; */
  height: auto;
}

#col-right img {
  width: 100%;
  height: auto;
}

/* Responsive colonne */

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
  #col-left{
    width: 50px;
  }

  #col-right{
    width: calc(100% - 50px);
  }
}



/* Regole per la Section del Player */
#section-two{
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#section-two .play-now,
#section-two .audio-control{
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#section-two .play-now img{
  max-width: 60px;
  height: 60px;
}

#section-two .music-player{
  width: 40%;
  height: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#section-two .player-controls{
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
